body {
    background-color: #00314A;
}

#menu-container {
   
}

#content-container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;

    padding: 25px;

    margin-top:50px;

    -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.46);
    -moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.46);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.46);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.white-blue {
    background-color: #b0c4de;
}

.white {
    background-color: #FFFFFF;
}

#content-main {
    width: 540px;
}

.avatar-outer {
    width: 96px;
    height: 96px;
    -webkit-box-shadow: 0px 0px 10px #4d4d4d;
    -moz-box-shadow: 0px 0px 10px #4d4d4d;
    box-shadow: 0px 0px 10px #4d4d4d;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    border:solid white 2px;
    overflow: hidden;
    padding: 1px;
}

.avatar-image {
    background: red;
    padding: 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    width: 96px;
    height: 96px;
    overflow: hidden;
}

.gray {
    color: #999;
}

.small {
    font-size: 12px;
}

.right {
    float: right;
}

.clear-right {
    clear: right;
    display: block;
}

.left {
    float: left;
}

.clear-left {
    clear: left;
    display: block;
}

.clear-both {
    clear: both;
}

/* ---------- Microblog related style ----------- */
.microblog-container {

    background-color: white;

    padding-top:10px;
    padding-bottom:10px;
    padding-right:20px;
    padding-left:20px;

    margin-top:20px;
    margin-bottom:20px;

    -webkit-box-shadow: 0px 2px 5px #4d4d4d;
    -moz-box-shadow: 0px 2px 5px #4d4d4d;
    box-shadow: 0px 2px 5px #4d4d4d;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}

.microblog-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}