{% extends 'base.html' %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <script type="text/javascript" src="{{ STATIC_URL }}plugin/ckeditor/ckeditor.js"></script>
    <form method="post" action="{% url 'blog:create' owner_username %}" enctype="multipart/form-data">
        {% csrf_token %}
        <span>{{ form.title.label_tag }}</span>
        <p>{{ form.title }}</p>
        <p>
            {% trans 'Content:' %}<br>
            <textarea id="id-content" name="content">&lt;p&gt;Welcome to Yiting's Site!&lt;/p&gt;</textarea>
            <script>
                CKEDITOR.config.width = 650
                // CKEDITOR.config.width = '75%'
                CKEDITOR.replace('id-content');
            </script>
        </p>
        <p>
            <input type="submit" value="Create Blog" />
        </p>
    </form>
{% endblock %}
