{% extends 'user_page_base.html' %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <div class="blog-detail-container shadow-and-radius">
        <div class="text-center">
            <p class="blog-detail-title">{{ blog.title }}</p>
            <span class="gray small">{{ blog.created }}</span>
        </div>
        <hr>
        <div class="content"><p>{{ blog.content|safe }}</p></div>
    </div>
{% endblock %}

{% block js_in_body %}
    <script type="text/javascript" src="{% static "plugin/google-code-prettify/prettify.js" %}"></script>
    <link href="{% static "plugin/google-code-prettify/prettify.css" %}" rel="stylesheet" type="text/css">
    <script type="text/javascript">prettyPrint();</script>
{% endblock %}
