{% extends 'user_page_base.html' %}
{% load thumbnail %}
{% load i18n %}
{% load users_tags %}

{% block content %}
    {% if user.is_authenticated and user.username == owner_username %}
        <div>
            <a href="{% url 'blog:create' owner_username %}">{% trans 'Create Blog' %}</a>
        </div>
    {% endif %}
    <div id="blog-list-container" class="shadow-and-radius">
        {% for blog in blogs %}
            {% include 'blogs/blog.html' %}
            <hr class="blog-hr">
        {% endfor %}
        {% if private_blogs %}
            <h4>{% trans 'Drafts: ' %}</h4>
            <hr class="blog-hr">
            {% for blog in private_blogs %}
                {% include 'blogs/blog.html' %}
                <hr class="blog-hr">
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
