{% extends 'user_page_base.html' %}
{% load thumbnail %}
{% load i18n %}
{% load users_tags %}

{% block content %}
    {% thumbnail mediaframe.image_item.image FRAME_DETAIL upscale=False as im %}
        <img src="{{ im.url }}" class="mediaframe-detail-img middle" width="{{ im.width }}" height="{{ im.height }}"/>
    {% endthumbnail %}
    {% if mediaframe.description %}
        <p class="gray right"> {{ mediaframe.description }} </p>
    {% endif %}
    <span class="gray small clear-right right"> {{ mediaframe.created }}</span>
    <span class="clear-right"></span>
    <a href="{{ mediaframe.image_item.image.url }}">{% trans 'Download Original Image' %}</a>
{% endblock %}