{% extends 'user_page_base.html' %}
{% load thumbnail %}
{% load i18n %}
{% load users_tags %}

{% block content %}
    {% if user.is_authenticated and user.username == owner_username %}
        <div>
            <a href="{% url 'mediaframe:create' owner_username %}">{% trans 'Create Photo/Video' %}</a>
        </div>
    {% endif %}
    <p>{{ album.description }}</p>
    <div>
        {% for mediaframe in mediaframes %}
            {% include 'mediaframes/mediaframe.html' %}
        {% endfor %}
    </div>
{% endblock %}