{% load thumbnail %}
{% load i18n %}

<div class="frame-container">
    <a href="{% url 'mediaframe:detail' owner_username mediaframe.pk %}">
        {% thumbnail mediaframe.image_item.image FRAME_LIST_CROPPED crop='center' as im %}
            <img src="{{ im.url }}" class="mediaframe-image" width="{{ im.width }}" height="{{ im.height }}"/>
        {% endthumbnail %}
        {% if mediaframe.description %}
            <p class="gray right"> {{ mediaframe.description }} </p>
        {% endif %}
        <span class="gray small clear-right right"> {{ mediaframe.created }}</span>
        <span class="clear-right"></span>
    </a>
</div>