{% load staticfiles %}
{% load compressed %}
{% load i18n %}

<!DOCTYPE html>
<html class="no-js">
    <head>
        <title>
            {% block page_title %}
                Yiting Li © 2013
            {% endblock page_title %}
        </title>

        {% block js_in_header %}
            {% compressed_js 'libs' %}
        {% endblock %}

        {% block stylesheets %}
            {% compressed_css 'libs' %}
            {% compressed_css 'global' %}
        {% endblock stylesheets %}
    </head>

    <body {# background="{{ STATIC_URL }}img/background.png" #}>
        <div id='body-container'>
            {% block body_container %}
                {% block content %}
                {% endblock %}
            {% endblock %}
        </div>
        {% block js_in_body %}
        {% endblock %}
    </body>

</html>