{% load staticfiles %}
{% load compressed %}
{% load i18n %}

<!DOCTYPE html>
<html class="no-js">
    <head>
        <title>
            {% block page_title %}
                Yiting Li 2013
            {% endblock page_title %}
        </title>

        {% block stylesheets %}
            {% compressed_css 'libs' %}
            {% compressed_css 'ckeditor_custom' %}
            {% compressed_css 'global' %}
        {% endblock stylesheets %}

        {% block head_special %}
        {% endblock %}

        {% block js_in_head %}
            {% compressed_js 'libs' %}
        {% endblock %}
    </head>

    <body>

        {% block background %}
            <div id="general-background"></div>
        {% endblock %}

        {% block body %}
            <div class="navbar navbar-inverse navbar-custom-top">
                {% block navigation %}
                {% endblock %}
            </div>
            <div id='body-container'>
                {% block body_container %}
                    <div id="content">
                        {% block content %}
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
            <div id="bottom-bar" class="navbar navbar-inverse navbar-custom-bottom text-center">
                <span id="bottom-text">{% trans 'Designed & Coded by Yiting Li, yl2919@columbia.edu' %}</span>
            </div>
            {% block js_in_body %}
            {% endblock %}
        {% endblock %}
    </body>

</html>