{% load i18n %}

<ul class="nav navbar-nav">
    <li><a href="{% url 'user_home' owner_username %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'microblog:list' owner_username %}">{% trans 'MicroBlog' %}</a></li>
    <li><a href="">{% trans 'Blog' %}</a></li>
    <li><a href="{% url 'album:list' owner_username %}">{% trans 'Album' %}</a></li>
    <li><a href="{% url 'noteboard:list' owner_username %}">{% trans 'NoteBoard' %}</a></li>
    <li><a href="">{% trans 'Experience' %}</a></li>
    <li><a href="">{% trans 'FavorFolder' %}</a></li>
</ul>
<ul class="nav navbar-nav pull-right">
    {% if user.is_authenticated %}
        <li><a href="{% url 'user_update' %}">{% trans 'Settings' %}</a></li>
        <li><a href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
    {% else %}
        <li><button type="button" class="btn btn-default navbar-btn right">Sign in</button></li>
        <li><a href="{% url 'login' %}">{% trans 'Login' %}</a></li>
        <li><a href="{% url 'register' %}">{% trans 'Register' %}</a></li>
    {% endif %}
</ul>
