{% load i18n %}

<ul class="nav navbar-nav">
    <li><a href="{% url 'user_home' owner_username %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'microblog:list' owner_username %}">{% trans 'MicroBlog' %}</a></li>
    <li><a href="{% url 'blog:list' owner_username %}">{% trans 'Blog' %}</a></li>
    <li><a href="{% url 'album:list' owner_username %}">{% trans 'Album' %}</a></li>
    <li><a href="{% url 'noteboard:list' owner_username %}">{% trans 'NoteBoard' %}</a></li>
    <li><a href="">{% trans 'Experience' %}</a></li>
    {# <li><a href="">{% trans 'FavorFolder' %}</a></li> #}
</ul>
<ul class="nav navbar-nav pull-right">
    {% if user.is_authenticated %}
        <li><form action="{% url 'user_update' %}"><input type="submit" class="btn btn-default navbar-btn right btn-margin" value="{% trans 'Settings' %}"></form></li>
        <li><form action="{% url 'logout' %}"><input type="submit" class="btn btn-default navbar-btn right btn-margin" value="{% trans 'Logout' %}"></form></li>
    {% else %}
        <li><form action="{% url 'login' %}"><input type="submit" class="btn btn-default navbar-btn right btn-margin" value="{% trans 'Login' %}"></form></li>
        <li><form action="{% url 'register' %}"><input type="submit" class="btn btn-default navbar-btn right btn-margin" value="{% trans 'Register' %}"></form></li>
    {% endif %}
</ul>
