{% extends 'user_page_base.html' %}
{% load thumbnail %}
{% load i18n %}

{% block content %}
    <div class="exp-container shadow-and-radius">
        {% if documents %}
            <span>{%trans 'Documents:' %}</span>
            <span>&nbsp;&nbsp;</span>
            {% for doc in documents %}
                <span><a href="{{ doc.doc.url }}">{{ doc.title }}</a></span>
                <span>&nbsp;&nbsp;</span>
            {% endfor %}
        {% endif %}
        <hr>
        {% for devision in experience %}
            {% include 'experience/devision.html' %}
            <hr>
        {% endfor %}
    </div>
{% endblock %}