{% extends 'microblogs/base.html' %}
{% load thumbnail %}
{% load i18n %}
{% load users_tags %}

{% block navigation %}
    {% include 'navigation.html' %}
{% endblock %}

{% block profile_summary %}
    {% include 'users/profile_summary.html' %}
    <hr>
{% endblock %}

{% block content_main %}
    {% if user.is_authenticated and user.username == owner_username %}
        <div>
            <a href="{% url 'microblog:create' owner_username %}">{% trans 'Create MicroBlog' %}</a>
        </div>
    {% endif %}
    <div>
        {% for microblog in microblogs %}
            {% include 'microblogs/microblog.html' %}
        {% endfor %}
    </div>
{% endblock %}