{% load thumbnail %}
{% load i18n %}

<div class="microblog-container">
    <p class="microblog-content">{{ microblog.content }}</p>
    <div class="microblog-image">
        {% if microblog.media_frame and microblog.media_frame.content_type == 'I' %}
            {% thumbnail microblog.media_frame.image_item.image MICROBLOG_IMAGE as im %}
                <img src="{{ im.url }}" class="microblog-image" width="{{ im.width }}" height="{{ im.height }}"/>
            {% endthumbnail %}
            <p class="gray small right"> {% trans 'collected to' %} <a href="{% url 'album:mediaframes' owner_username microblog.media_frame.album.slug %}">{{ microblog.media_frame.album }}</a></p>
        {% endif %}
    </div>
    <p class="gray small clear-right right">{{ microblog.created }}</p>
    <span class="clear-right"></span>
</div>