{% load thumbnail %}
{% load i18n %}

<div class="microblog-container">
    <div class="content"><p>{{ microblog.content|linebreaks }}</p></div>
    {% if microblog.media_frame and microblog.media_frame.content_type == 'I' %}
        <div >
            {% thumbnail microblog.media_frame.image_item.image.url MICROCOMMENT_IMAGE as im %}
                <img src="{{ im.url }}" class="microblog-image" width="{{ im.width }}" height="{{ im.height }}"/>
            {% endthumbnail %}
            <p class="gray small right"> {% trans 'collected to' %} {{ microblog.media_frame.album }}</p>
            <span class="clear-right"></span>
        </div>
    {% endif %}
    <p class="gray small right">{{ microblog.created }}</p>

    <span class="clear-right"></span>
</div>