{% extends 'user_page_base.html' %}
{% load thumbnail %}
{% load i18n %}

{% block content %}
    <div id="noteboard-list-container">
        <div class='text-center'>
            <h2>{% trans 'Note Board' %}</h2>
            <p class="gray">{% trans 'Make notes of your daily work and studies' %}</p>
            <br>
        </div>
        <div>
            {% for noteboard in noteboards %}
                <a href="{% url 'noteboard:board_notes' owner_username noteboard.slug %}" >
                    <p class="blog-title">{{ noteboard.title }}</p>
                </a>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}